@envlibs:registry=https://gitlab.com/api/v4/projects/37976178/packages/npm/

'//gitlab.com/api/v4/packages/npm/:_authToken'="xyCRUsDTxrX7zSiNT6Lq"


'//gitlab.com/api/v4/projects/37976178/packages/npm/:_authToken'="xyCRUsDTxrX7zSiNT6Lq"
@fortawesome:registry=https://nexusrepo.support.envestnet.cloud/repository/npm-registry-group/
